# Loading and Saving Data in Spark

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 38 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 52.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=cc8ad9e4236414a89b01dd2e3969b45abadb43cbb7b7a6c7efe63c038b73fc7f
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [49]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.enableHiveSupport()\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [33]:
from pyspark.context import SparkContext
sc = spark.sparkContext

In [50]:
spark



Load the example1.json JSON file

In [2]:
from google.colab import files
files.upload()

{}

In [ ]:
jsonDF = spark.read.json('example1.json')
jsonDF.printSchema()

# Saving Text Files

Using the USDA_activity_dataset_csv dataset

In [4]:
from google.colab import files
files.upload()

Saving Mall_Customers.csv to Mall_Customers.csv

{'Mall_Customers.csv': b'CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100)\r\n0001,Male,19,15,39\r\n0002,Male,21,15,81\r\n0003,Female,20,16,6\r\n0004,Female,23,16,77\r\n0005,Female,31,17,40\r\n0006,Female,22,17,76\r\n0007,Female,35,18,6\r\n0008,Female,23,18,94\r\n0009,Male,64,19,3\r\n0010,Female,30,19,72\r\n0011,Male,67,19,14\r\n0012,Female,35,19,99\r\n0013,Female,58,20,15\r\n0014,Female,24,20,77\r\n0015,Male,37,20,13\r\n0016,Male,22,20,79\r\n0017,Female,35,21,35\r\n0018,Male,20,21,66\r\n0019,Male,52,23,29\r\n0020,Female,35,23,98\r\n0021,Male,35,24,35\r\n0022,Male,25,24,73\r\n0023,Female,46,25,5\r\n0024,Male,31,25,73\r\n0025,Female,54,28,14\r\n0026,Male,29,28,82\r\n0027,Female,45,28,32\r\n0028,Male,35,28,61\r\n0029,Female,40,29,31\r\n0030,Female,23,29,87\r\n0031,Male,60,30,4\r\n0032,Female,21,30,73\r\n0033,Male,53,33,4\r\n0034,Male,18,33,92\r\n0035,Female,49,33,14\r\n0036,Female,21,33,81\r\n0037,Female,42,34,17\r\n0038,Female,30,34,73\r\n0039,Female,36,37,26\r\n0040,Female,20,37,75\r\n0041,Female,65,38,35\r\n0042,Male,24,38,92\r\n0043,Male,48,39,36\r\n0044,Female,31,39,61\r\n0045,Female,49,39,28\r\n0046,Female,24,39,65\r\n0047,Female,50,40,55\r\n0048,Female,27,40,47\r\n0049,Female,29,40,42\r\n0050,Female,31,40,42\r\n0051,Female,49,42,52\r\n0052,Male,33,42,60\r\n0053,Female,31,43,54\r\n0054,Male,59,43,60\r\n0055,Female,50,43,45\r\n0056,Male,47,43,41\r\n0057,Female,51,44,50\r\n0058,Male,69,44,46\r\n0059,Female,27,46,51\r\n0060,Male,53,46,46\r\n0061,Male,70,46,56\r\n0062,Male,19,46,55\r\n0063,Female,67,47,52\r\n0064,Female,54,47,59\r\n0065,Male,63,48,51\r\n0066,Male,18,48,59\r\n0067,Female,43,48,50\r\n0068,Female,68,48,48\r\n0069,Male,19,48,59\r\n0070,Female,32,48,47\r\n0071,Male,70,49,55\r\n0072,Female,47,49,42\r\n0073,Female,60,50,49\r\n0074,Female,60,50,56\r\n0075,Male,59,54,47\r\n0076,Male,26,54,54\r\n0077,Female,45,54,53\r\n0078,Male,40,54,48\r\n0079,Female,23,54,52\r\n0080,Female,49,54,42\r\n0081,Male,57,54,51\r\n0082,Male,38,54,55\r\n0083,Male,67,54,41\r\n0084,Female,46,54,44\r\n0085,Female,21,54,57\r\n0086,Male,48,54,46\r\n0087,Female,55,57,58\r\n0088,Female,22,57,55\r\n0089,Female,34,58,60\r\n0090,Female,50,58,46\r\n0091,Female,68,59,55\r\n0092,Male,18,59,41\r\n0093,Male,48,60,49\r\n0094,Female,40,60,40\r\n0095,Female,32,60,42\r\n0096,Male,24,60,52\r\n0097,Female,47,60,47\r\n0098,Female,27,60,50\r\n0099,Male,48,61,42\r\n0100,Male,20,61,49\r\n0101,Female,23,62,41\r\n0102,Female,49,62,48\r\n0103,Male,67,62,59\r\n0104,Male,26,62,55\r\n0105,Male,49,62,56\r\n0106,Female,21,62,42\r\n0107,Female,66,63,50\r\n0108,Male,54,63,46\r\n0109,Male,68,63,43\r\n0110,Male,66,63,48\r\n0111,Male,65,63,52\r\n0112,Female,19,63,54\r\n0113,Female,38,64,42\r\n0114,Male,19,64,46\r\n0115,Female,18,65,48\r\n0116,Female,19,65,50\r\n0117,Female,63,65,43\r\n0118,Female,49,65,59\r\n0119,Female,51,67,43\r\n0120,Female,50,67,57\r\n0121,Male,27,67,56\r\n0122,Female,38,67,40\r\n0123,Female,40,69,58\r\n0124,Male,39,69,91\r\n0125,Female,23,70,29\r\n0126,Female,31,70,77\r\n0127,Male,43,71,35\r\n0128,Male,40,71,95\r\n0129,Male,59,71,11\r\n0130,Male,38,71,75\r\n0131,Male,47,71,9\r\n0132,Male,39,71,75\r\n0133,Female,25,72,34\r\n0134,Female,31,72,71\r\n0135,Male,20,73,5\r\n0136,Female,29,73,88\r\n0137,Female,44,73,7\r\n0138,Male,32,73,73\r\n0139,Male,19,74,10\r\n0140,Female,35,74,72\r\n0141,Female,57,75,5\r\n0142,Male,32,75,93\r\n0143,Female,28,76,40\r\n0144,Female,32,76,87\r\n0145,Male,25,77,12\r\n0146,Male,28,77,97\r\n0147,Male,48,77,36\r\n0148,Female,32,77,74\r\n0149,Female,34,78,22\r\n0150,Male,34,78,90\r\n0151,Male,43,78,17\r\n0152,Male,39,78,88\r\n0153,Female,44,78,20\r\n0154,Female,38,78,76\r\n0155,Female,47,78,16\r\n0156,Female,27,78,89\r\n0157,Male,37,78,1\r\n0158,Female,30,78,78\r\n0159,Male,34,78,1\r\n0160,Female,30,78,73\r\n0161,Female,56,79,35\r\n0162,Female,29,79,83\r\n0163,Male,19,81,5\r\n0164,Female,31,81,93\r\n0165,Male,50,85,26\r\n0166,Female,36,85,75\r\n0167,Male,42,86,20\r\n0168,Female,33,86,95\r\n0169,Female,36,87,27\r\n0170,Male,32,87,63\r\n0171,Male,40,87,13\r\n0172,Male,28,87,75\r\n0173,Male,36,87,10\r\n0174,Male,36,87,92\r\n0175,Female,52,88,13\r\n0176,Female,30,88,86\r\n0177,Male,58,88,15\r\n0178,Male,27,88,69\r\n0179,Male,59,93,14\r\n0180,Male,35,93,90\r\n0181,Female,37,97,32\r\n0182,Female,32,97,86\r\n0183,Male,46,98,15\r\n0184,Female,29,98,88\r\n0185,Female,41,99,39\r\n0186,Male,30,99,97\r\n0187,Female,54,101,24\r\n0188,Male,28,101,68\r\n0189,Female,41,103,17\r\n0190,Female,36,103,85\r\n0191,Female,34,103,23\r\n0192,Female,32,103,69\r\n0193,Male,33,113,8\r\n0194,Female,38,113,91\r\n0195,Female,47,120,16\r\n0196,Female,35,120,79\r\n0197,Female,45,126,28\r\n0198,Male,32,126,74\r\n0199,Male,32,137,18\r\n0200,Male,30,137,83'}

**Reading a CSV file into a DataFrame, filter some columns and save it**

In [5]:
data = spark.read.csv('/content/Mall_Customers.csv',inferSchema=True, header=True)

In [6]:
type(data)

pyspark.sql.dataframe.DataFrame

In [7]:
data.show(10)

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
|         6|Female| 22|                17|                    76|
|         7|Female| 35|                18|                     6|
|         8|Female| 23|                18|                    94|
|         9|  Male| 64|                19|                     3|
|        10|Female| 30|                19|                    72|
+----------+------+---+------------------+----------------------+
only showing top 10 rows

In [8]:
data.columns

['CustomerID', 'Genre', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)']

In [56]:
data.createOrReplaceTempView("temp_table")

Filter data by several columns

In [9]:
dataF=data.select('CustomerID', 'Genre', 'Age',)

Save only the filtered Data

In [10]:
dataF.write.csv("USDA_income_poverty.csv")

Let's read this new file back into an RDD

In [ ]:
rddL=sc.textFile("USDA_income_poverty.csv",)
rddL.collect()

# **Hive Example**

Using Hive to create and read a table - Simple Example

In [63]:
from pyspark.sql import Row,SQLContext
from pyspark.sql import HiveContext
#sqlContext = HiveContext(sc)
test_list = [('A', 25),('B', 20),('C', 25),('D', 18)]
rdd = sc.parallelize(test_list)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
#schemaPeople = sqlContext.createDataFrame(people)
schemaPeople = spark.createDataFrame(people)
# Register it as a temp table
schemaPeople.createOrReplaceTempView('schemaPeople')
#schemaPeople.registerDataFrameAsTable(schemaPeople, "test_table")
spark.sql("show tables").show()

+---------+------------+-----------+
|namespace|   tableName|isTemporary|
+---------+------------+-----------+
|         |         ex1|       true|
|         |schemapeople|       true|
|         |  temp_table|       true|
|         |  test_table|       true|
+---------+------------+-----------+

In [64]:
sqlContext.sql("Select * from schemapeople").show()

+----+---+
|name|age|
+----+---+
|   A| 25|
|   B| 20|
|   C| 25|
|   D| 18|
+----+---+

Let's query the table

In [21]:
sqlContext.sql("Select * from test_table").show()

+----+---+
|name|age|
+----+---+
|   A| 25|
|   B| 20|
|   C| 25|
|   D| 18|
+----+---+

In [65]:
spark.sql("Select * from test_table").show()

+----+---+
|name|age|
+----+---+
|   A| 25|
|   B| 20|
|   C| 25|
|   D| 18|
+----+---+

**Load a JSON file with Hive and use SQL on it**

In [66]:
## Colab code only - DO NOT run outsie of colab
from google.colab import files  
files.upload()

Saving simple.json to simple.json

{'simple.json': b'\'{"name":"John", "age":30, "car":23}\''}

Let's load example1.json with Hive a do a Select Statement on it

In [73]:
from pyspark.sql import HiveContext
#hiveCtx = HiveContext(sc)
#ex1 = hiveCtx.read.json("simple.json")
ex1 = spark.read.json("simple.json")
ex1.createOrReplaceTempView("simple")
spark.sql('select * from simple').show()
#results = hiveCtx.sql("SELECT  FROM ex1").show()

+----+
|name|
+----+
|John|
+----+

In [28]:
data.toPandas()

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [29]:
data.show(2)

+----------+-----+---+------------------+----------------------+
|CustomerID|Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+-----+---+------------------+----------------------+
|         1| Male| 19|                15|                    39|
|         2| Male| 21|                15|                    81|
+----------+-----+---+------------------+----------------------+
only showing top 2 rows