## Welcome to Activity 1 and  In this activity you’ll apply the basics of functional and parallel programming.

#### Let’s start with a simple example. Let’s consider you have a list of integers.

#### Let’s find out what the size of this list is.

#### Note that we already provide an RDD object, so please have a look at the RDD API in order to find out what function to use: https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.RDD.html

#### The following link contains additional documentation: https://spark.apache.org/docs/latest/rdd-programming-guide.html

## optional steps
!pip install pyspark==3.0
try:
    from pyspark import SparkContext, SparkConf
    from pyspark.sql import SparkSession
except ImportError as e:
    printmd('<<<<<!!!!! Please restart your kernel after installing Apache Spark !!!!!>>>>>')

    
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

spark = SparkSession \
    .builder \
    .getOrCreate()

In [5]:
## spark context is already available in sc variable
rdd=sc.parallelize(range(1000))

In [6]:
rdd.count()  # this task get diveded into two workers and executed in parallel

1000

In [3]:
#take first 10 elements from rdd
rdd.take(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
rdd.collect()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]