<a href="https://colab.research.google.com/github/Edunet-Foundation/CTS/blob/main/Foundational-Course/5_Python_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Loops

#### This activity includes discussion and hands-on for python loops- for loop, while loop and nested loops

#### For Loop

In [ ]:
# python allows to iterate through statements number of times using loops
# for loop is one such construct in python that runs/iterates for several times depending upon condition

In [ ]:
iterations=10

for i in range(iterations):
    print('Welcome')
    
# iterations define number of times loop will run
# i is iterator variable whose value iterates over sequnce generated from range function
# range() is a function in python that generates enumerations of numbers

Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome

In [ ]:
for i in range(10):
    print(i)
# range(n) enumerates 0 to n-1

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,20):
    print(i)
# range(n,m) enumerates n to m-1

10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(10,20,2):
    print(i)
# range(n,m,k) enumerates n to m-1 with k jumps

10
12
14
16
18

In [ ]:
# calculations inside loop
sum=0
for i in range(50,101):
    sum=sum+i
print(sum)
#value of sum after loop ietrations will be final value of sum of inetgers from 50 to 100

3825

#### While Loop

#### Similar to for loop, while is another loop with different syntax

In [ ]:
i=0

while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# thsi includes initial value of iterator, loop conditional statement and ietrator updation

In [ ]:
i=0
while i<30:
    print(i)
    i=i+5

0
5
10
15
20
25

In [ ]:
i=0
while i<30:
    i=i+5
    print(i)
# this will print different series, order of statements matters here

5
10
15
20
25
30

#### Nesting of Loops

In [ ]:
# lopps can be nested in ano another

for i in range(10):
    for j in range(20):
        print(i,',',j)

0 , 0
0 , 1
0 , 2
0 , 3
0 , 4
0 , 5
0 , 6
0 , 7
0 , 8
0 , 9
0 , 10
0 , 11
0 , 12
0 , 13
0 , 14
0 , 15
0 , 16
0 , 17
0 , 18
0 , 19
1 , 0
1 , 1
1 , 2
1 , 3
1 , 4
1 , 5
1 , 6
1 , 7
1 , 8
1 , 9
1 , 10
1 , 11
1 , 12
1 , 13
1 , 14
1 , 15
1 , 16
1 , 17
1 , 18
1 , 19
2 , 0
2 , 1
2 , 2
2 , 3
2 , 4
2 , 5
2 , 6
2 , 7
2 , 8
2 , 9
2 , 10
2 , 11
2 , 12
2 , 13
2 , 14
2 , 15
2 , 16
2 , 17
2 , 18
2 , 19
3 , 0
3 , 1
3 , 2
3 , 3
3 , 4
3 , 5
3 , 6
3 , 7
3 , 8
3 , 9
3 , 10
3 , 11
3 , 12
3 , 13
3 , 14
3 , 15
3 , 16
3 , 17
3 , 18
3 , 19
4 , 0
4 , 1
4 , 2
4 , 3
4 , 4
4 , 5
4 , 6
4 , 7
4 , 8
4 , 9
4 , 10
4 , 11
4 , 12
4 , 13
4 , 14
4 , 15
4 , 16
4 , 17
4 , 18
4 , 19
5 , 0
5 , 1
5 , 2
5 , 3
5 , 4
5 , 5
5 , 6
5 , 7
5 , 8
5 , 9
5 , 10
5 , 11
5 , 12
5 , 13
5 , 14
5 , 15
5 , 16
5 , 17
5 , 18
5 , 19
6 , 0
6 , 1
6 , 2
6 , 3
6 , 4
6 , 5
6 , 6
6 , 7
6 , 8
6 , 9
6 , 10
6 , 11
6 , 12
6 , 13
6 , 14
6 , 15
6 , 16
6 , 17
6 , 18
6 , 19
7 , 0
7 , 1
7 , 2
7 , 3
7 , 4
7 , 5
7 , 6
7 , 7
7 , 8
7 , 9
7 , 10
7 , 11
7 , 12
7 , 13
7 , 14
7 , 15
7 , 16
7 , 17
7 , 18
7 , 19
8 , 0
8 , 1
8 , 2
8 , 3
8 , 4
8 , 5
8 , 6
8 , 7
8 , 8
8 , 9
8 , 10
8 , 11
8 , 12
8 , 13
8 , 14
8 , 15
8 , 16
8 , 17
8 , 18
8 , 19
9 , 0
9 , 1
9 , 2
9 , 3
9 , 4
9 , 5
9 , 6
9 , 7
9 , 8
9 , 9
9 , 10
9 , 11
9 , 12
9 , 13
9 , 14
9 , 15
9 , 16
9 , 17
9 , 18
9 , 19

In [ ]:
i=1
while i<5:
    j=1
    while j<5:
        print(i*j, end=' ')
        j=j+1
    print('\n')
    i=i+1

1 2 3 4

2 4 6 8

3 6 9 12

4 8 12 16

#### Exercise: Print pyramid of numbers using for loop and while loop

In [ ]:
#Example:

#     1    
#   2 3 4 
# 5 6 7 8 9

#### Continue and Break

In [ ]:
# allow loop run at any instance, skipping the following statements inside loop, use continue

i=0

while i<5:
    i=i+1
    print(i)

1
2
3
4
5

In [ ]:
i=0

while i<5:
    i=i+1
    if(i==3):
        continue
    print(i)

1
2
4
5

#### Break

In [ ]:
# break statement is used to stop the loop at some specific condition and allow pre-mature termination

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
    if i>7:
        break
    print(i)

0
1
2
3
4
5
6
7