<a href="https://colab.research.google.com/github/Edunet-Foundation/CTS/blob/main/Foundational-Course/6_Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Functions

#### Functions in python can be defined using def keyword as follows

In [ ]:
# function syntax, with header and parameters

def myfun(x,y):
    print(x,y)

In [ ]:
# to call function myfun() we need to call it using parameter values 

myfun(10,20)

10 20

#### Function with return statement

In [ ]:
# fucntion with return
def myfun(x,y):
    sum=x+y
    return sum

In [ ]:
# call and accpt return value 

sum_value=myfun(20,50)
print(sum_value)

70

#### Default Parameters

In [ ]:
# function can accept default parameters, that vlue would be used if we do not pass any value to function call for 
# default parameters
# Default parameters must always follow non-default parameters

def message(msg1, msg2, msg3='Thanks'):
    print(msg1, msg2, msg3, sep=' ')

In [ ]:
# with all parameter values
message('Hello,', 'How are you?', 'Bye!' )

Hello, How are you? Bye!

In [ ]:
# without passing value for default parameter
message('Hello,', 'How are you?' )

Hello, How are you? Thanks

#### Example

In [ ]:
def calculate(basic, da, hra, other_allowances=5000):
    return basic+da+hra+other_allowances

In [ ]:
salary=calculate(40000, 20000, 4000, 7000)
print(salary)

71000

In [ ]:
salary=calculate(40000, 20000, 4000)
print(salary)

69000

In [ ]:
emp_type='new'
salary=0
if emp_type=='new':
    salary=calculate(40000, 20000, 4000)
else:
    salary=calculate(40000, 20000, 4000, 7000)
    
print('Salary: ', salary)

Salary:  69000

In [ ]:
emp_type='old'
salary=0
if emp_type=='new':
    salary=calculate(40000, 20000, 4000)
else:
    salary=calculate(40000, 20000, 4000, 7000)
    
print('Salary: ', salary)

Salary:  71000

#### Order of passing values to parameters can be altered using parameter name as keyword for passing values

In [ ]:
def Greet(msg1, msg2, msg3):
    print(msg1, msg2, msg3)

In [ ]:
Greet('hi','hello', 'bye')

hi hello bye

In [ ]:
Greet(msg3='Thanks', msg1='Hello', msg2='How are u?')

Hello How are u? Thanks

#### Exercise:

In [ ]:
# write function to find simple ineterst from parameters of principal amount, rate of ineterst and years of deposit

In [ ]:
# write a function to print a pyramid of numbers wir parameters as num of rows